{% extends 'pdftemplate.html.twig' %}
{% block body %}


<h2>Periode informatie</h2>
<h5>Bedrijf</h5>
<p>Naam: <strong>Arte-tech</strong></p>
<p>Adres: <strong> Websitestraat 24, 9680 Stad</strong> </p>
<p>Telefoon: <strong>341324134</strong></p>
<h5>Klant</h5>
<p>Naam: <strong>{{ period.getCustomer().name }}</strong></p>
<p>Adres: <strong>{{ period.getCustomer().adress }}</strong> </p>
<p>Telefoon: <strong>{{ period.getCustomer().phone }}</strong> </p>
<h5>Periode informatie</h5>
<p>Periode: <strong>{{ period.title }}</strong></p>
<p>Start datum: <strong> {{ period.startDate|date('Y-m-d') }}</strong></p>
<p>Eind datum:  <strong>{{ period.endDate|date('Y-m-d') }}</strong></p>
<p>Aantal uitgevoerde opdracht: <strong>{{period.getPosts().count()}}</strong> </p>
<p>Totaal aantal gepresteerde uren:<strong> {{timeworked|date('H')}} uren {{timeworked|date('i')}} minuten {{timeworked|date('s')}} seconden</strong> </p>
<p>Prijs voor gepresteerde uren: <strong>{{totalprice|round(3, 'floor')}} </strong></p>
<p>Totaal aantal kilometers: <strong>{{totalKm}}</strong> </p>
<p>Prijs voor kilometers: <strong>{{totalpricekm}|round(2, 'floor')}</strong> </p>
<h4>Total Prijs </h4>
<h4><strong>{{priceToPay|round(2, 'floor')}}</strong></h4>
</div>
</div>
</div>


<h2>Posts overview</h2>
<table class="table">
 <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Taak</th>
      <th scope="col">Start</th>
      <th scope="col">Stop</th>
      <th scope="col">Materialen</th>
    </tr>
  </thead>
    <tbody>
  {% for post in posts %}

    <tr>
      <th scope="row">{{post.id}}</th>
      <td>{{post.title}}</td>
      <td> {{post.start}} </td>
      <td> {{post.stop}} </td>
      <td>

       {% if post.materials.count() == 0 %}
    Geen materialen
        {% else %}
       {% for mat in post.materials %}  
      
      {{ mat.name }} 
      
      {% endfor %} 
    {% endif %}
    </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}